<div class="row">

    <div class='span4'>
        <h3>Technology</h3>

        <p>This service was built using <a href="http://rubylang.org">Ruby</a> and the <a href="http://www.sinatrarb.com/">Sinatra</a> framework. 
        It runs on top of the <a href="https://www.heroku.com/">Heroku</a> cloud hosting platform.</p>

        <p>The <strong>dontspoil.us</strong> service is an open source project. If you are interested the source code is available on Github:</p>


    </div>

    <div class="span4">
        
        <h3>Contact</h3>

        <p>Contact the author of this project at:</p>

        <p>
             <i class="icon-globe"></i> <a href="http://maciak.net">maciak.net</a><br>
             <i class="icon-envelope-alt"></i> <img style="width: 145px; height: 25px;" src="eml.PNG" alt="spam obfuscated email"><br>
         </p><br/>


    </div>

    <div class="span4">

        <h3>Links</h3>

        <div class="btn-group btn-group-vertical">
            <a class="btn btn-inverse" href="https://github.com/maciakl/TweetSpoiler"><i class="icon-github-alt"></i> Source Code</a>
            <a class="btn btn-inverse" href="https://github.com/maciakl/TweetSpoiler/issues"><i class="icon-bolt"></i> Submit an Issue</a>
        </div>

    </div>

</div>
