<div class="row">

    <div class='span5'>
        <h3>Some people can't handle spoilers.</h3>

        <p>Tired of getting yelled at by friends and relatives for tweeting spoilers for the latest episodes of 
        The Walking Dead or Game of Thrones? Want to discuss your favorite show without spoiling the fun for
        your close ones? This is a service for you.</p>

        <h3>Don't Spoil Us</h3>

        <p>The <strong>dontspoil.us</strong> service will allow you to hide spoilers in your tweets. Instead
        of posting the spoiler directly in a tweet, post it here and a link to your spoiler will be automatically
        posted to your Twitter feed. Those who want to see the spoiler can expand the tweet by clicking on it or
        simply follow the link. Others can ignore it.</p>

        <br/><br/>

        <a class="btn btn-large btn-inverse pull-right" href="/tweet"><i class="icon-twitter"></i> Sign in with Twitter</a>
    </div>

    <div class="span5">
        
        <h3>Examples</h3>

        <p>This is what your friends will see in your feed:</p>

        <p><img class="img" src="tweet.PNG" alt="Sample"/></p>

        <p>This is what they will see when they follow the link:</p>

        <p><img class="img" src="example.PNG" alt="Sample"/></p>

    </div>

</div>
