<div class="row">

    <div class='span8 offset1 well well-large'>
        <h4>Stop getting yelled at for spoilers in your tweets.</h4>

        <p>Use dontspoil.us to tweet hidden spoilers without worrying about spoiling the fun
        for your friends and family.</p>

        <a class="btn btn-large btn-inverse" href="/login"><i class="icon-twitter"></i> Sign in with Twitter</a>
    </div>

</div>
