<div class="row">

    <div class='span8'>
        <h3>Privacy</h3>

        <p>The <strong>dontspoil.us</strong> service stores your Twitter display name, username and profile picture URL in the local database
        so that your Twitter account information can be displayed next to your spoilers. No other information about you is kept on the server.</p>

        <p>The service requires that you allow it to post on your behalf, but the only tweets posted are the onces you manually create via
        the service. We will never tweet on your behalf without your explicit permission.</p>
    </div>

</div>
