<style>
.green_text {
    color: green;
}
.red_text {
    color: red;
}
</style>
<div class="row">

    <div class="span6 well well-large">

        <h3>Spoiler Tweet</h3>

        <form method="post" id="spoilerform">
            <fieldset>
                <label for="for"><i class="icon-tag"></i> This is a spoiler for:</label>
                <input type="text" id="for" name="for" placeholder="Work Title"/>
                <div class="help-block alert" id="foralert"> <strong>Warning!</strong> Source field cannot be empty.</div>

                <label for="spoiler"><i class="icon-unlock"></i> Hidden Spoiler:</label>
                <textarea id="spoiler" name="spoiler" rows="4" class="field span6" maxlength="500"
                    placeholder="Short text containing spoilers (no character limit)."></textarea>
                <div class="help-block alert" id="spoileralert"> <strong>Warning!</strong> Spoiler field cannot be empty.</div>
                <small class="help-block pull-right muted"><i class="icon-arrow-up"></i> This part will be hidden.</small>
                
                <br/>
                <label for="visible"><i class="icon-twitter-sign"></i> Tweet:</label>
                <textarea id="tweet" name="tweet" class="field span6" maxlength="125" 
                  placeholder="Text to be tweeted. #Hashtags #Go #Here"></textarea>
                <div class="help-block alert" id="tweetalert"> <strong>Warning!</strong> Tweet field cannot be empty.</div>
                <small class="help-block pull-right muted"><i class="icon-arrow-up"></i> This part be posted to Twitter.</small>

                <br/>
                <button type="submitt" class="btn btn-large btn-inverse"><i class="icon-twitter"></i> Tweet</button>
                <span id="count"></span>
            </fieldset>
        </form>
    </div>

    <div class='span3 well well-large'>
        <h3>User Information</h3>

        <img class="img-polaroid pull-left user-pic" src="<%=@picture%>"/>
        
        <div>
            <strong><%=@name%></strong><br/>
            <a href="https://twitter.com/<%=@user%>">@<%=@user%></a>
        </div>

        <br/><br/>
        <a class="btn btn-small btn-inverse pull-right" href="/logout"><i class="icon-off"></i> Log Out</a>
    </div>

</div>
